<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net452" />
  <package id="grandtheftmultiplayer.api" version="0.1.513.481" targetFramework="net452" />
  <package id="grandtheftmultiplayer.typescript" version="0.1.12" targetFramework="net452" />
  <package id="MySql.Data" version="7.0.7-m61" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="NLog" version="5.0.0-beta07" targetFramework="net452" />
  <package id="SonarAnalyzer.CSharp" version="5.11.0.1761" targetFramework="net452" developmentDependency="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
</packages>